rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /members/{userId} {
      allow read, create, update: if request.auth != null && request.auth.uid == userId;
      allow delete: if false;
    }
    match /members/{userId}/cars/{carId} {
      allow read, create, update, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
